function modoNoturno(horario) {
  if (horario > 18) {
    console.log("Você precisa ligar o modo noturno!");
  } else {
    console.log("Modo noturno não é necessário neste momento.");
  }
}

function filmesParaAssistir(diaDaSemana, genero) {

  // ...

  return sugestaoFilme;
